@if (person()) {

  <mat-card class="person-card">

    <mat-card-header>
      <mat-card-title>Szczegóły osoby</mat-card-title>
      <mat-card-subtitle>ID: {{ person()!.id }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>

        <mat-list-item>
          <span matListItemTitle>Imię</span>
          <span matListItemLine>{{ person()!.firstName }}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Nazwisko</span>
          <span matListItemLine>{{ person()!.familyName }}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Wiek</span>
          <span matListItemLine>{{ person()!.age }}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Miasto</span>
          <span matListItemLine>{{ person()!.city }}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Ulica</span>
          <span matListItemLine>{{ person()!.street }}</span>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle>Kod pocztowy</span>
          <span matListItemLine>{{ person()!.postCode }}</span>
        </mat-list-item>

      </mat-list>
    </mat-card-content>

  </mat-card>

} @else {

  <mat-card class="error-card">
    <mat-card-content>
      <p>❌ Nie znaleziono osoby.</p>
    </mat-card-content>
  </mat-card>

}
